.formBox {
    margin-top: 50px;
}

.labelActivity {
    font-size: 20px;
        color: #FAFAFA;
}
.inputActivity {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #8BAA36;
    border-radius: 10px;
    font-size: 20px;
    color: #FAFAFA;
    background-color: #7E7E7E;
}

.smileBtn {
    margin-left: 15px;
    padding: 5px;
    font-size: 20px;
     border-radius: 10px;
     background-color: #7E7E7E;
}