.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 30px auto;

    &Dark {
        background-color: #4d4d4d;
    }

    &Sun {
        background-color: #7ab192;
    }
}
.title {
    text-align: center;
    color: #1569a8;
    font-size: 24px;
}
.list {
    text-align: center;
}
.items {
    padding: 10px;
}